body {
    background: transparent !important;
     }
     .amount[data-v-0367bd36]/*หลอดโดเนทด้านใน*/ {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 0% !important;
        height: 100% !important;
        background-color: #23d1e0 !important;/*สีที่บอกว่ามาถึงไหนแล้ว*/
        text-align: center !important;
        transition: width 1s ease-in-out !important;
     }
     .goal[data-v-0367bd36]/*หลอดโดเนทด้านนอก*/ {
        position: relative !important;
        width: 100% !important;
        height: 40px !important;
        background-color: #19b4a96b !important;/*สีพื้นหลัง*/
        border: 3px cadetblue solid !important;/*สีตรงขอบ*/
        border-radius: 10px !important;/*กำหนดส่วนโค้ง*/
        overflow: hidden !important;
        margin-top: -16px !important;
    }
    .description[data-v-0367bd36]/*ตัวอักษรบอกเป้าหมายและอายุหลอด*/ {
        margin-top: 10px !important;
        display: flex !important;
        justify-content: space-between !important;
        color: #fff !important;/*สีตัวอักษร*/
        font-size: 14px !important;;/*ขนาดตัวอักษร*/
        background-color: cadetblue !important;/*สีพื้นหลัง*/
        border-radius: 30px !important;/*กำหนดส่วนโค้ง*/
        padding: 8px 10px !important;
        font-weight: 400 !important;/*ความหนาตัวอักษร*/
    }
